.top {
  color: blue;
}

ul {
    list-style-type: none;
    margin: -8px;
    background-color: #8cb2d8;
    padding: 0;
    height: 65px;
}

li {
    display: inline;
    color: white;
}

p {
  color: blue;
}
