.top {
  color: blue;
}

ul {
    list-style-type: none;
    margin: -8px;
    background-color: #8cb2d9;
    padding: 0;
    height: 65px;
}

li {
    display: inline;
    color: white;
    margin-left: 30px;
}

span {
  a {
    text-decoration: none;
    color: white;
  }
}

.welcome {
  text-align: center;
  margin-top: 8px;
}

img {
  height: 555px;
}

.pdf {
  align: center;
  margin-top: 8px;
}

p {
  color: blue;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 40px;
}
